.recipe {
  h3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
