@import "../../constants/_vars.scss";
@import "../pages.module.scss";

.container {
  color: $textColor;
  display: flex;
  flex-direction: column;
  background-color: $backgroundDefault;
  border-radius: $borderRadiusDefault;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  box-shadow: $boxShadovDefault;
}
.item {
  display: flex;
  flex: 1;
  &__photo {
    width: 64px;
    margin-right: 16px;
  }

  &__photoBox {
    width: 64px;
    height: 64px;
    background-color: #c4c4c4;
    margin-right: 16px;
  }
  &__name {
    margin-right: 16px;
    flex: 1;
    flex-basis: 20%;
  }
  &__description {
    margin-right: 16px;
    flex: 1;
    flex-basis: 50%;
  }
  &__count {
    flex: 1;
    flex-basis: 10%;
  }

}
.title {
  text-align: center;
  margin: 0;
}