@import "../../constants/_vars.scss";
@import "../pages.module.scss";

.container {
  color: $textColor;
  display: flex;
  flex-direction: column;
  background-color: $backgroundDefault;
  border-radius: $borderRadiusDefault;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  box-shadow: $boxShadowDefault;
}
.item {
  display: flex;
  flex: 1;
  position: relative;
  &__photo {
    width: 64px;
    margin-right: 16px;
  }

  &__photoBox {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto  ;
    }
  }
  &__name {
    margin-right: 16px;
    flex: 1;
    flex-basis: 20%;
  }
  &__description {
    margin-right: 16px;
    flex: 1;
    flex-basis: 50%;
  }
  &__count {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.title {
  text-align: center;
  margin: 0;
}
.link {
  flex: 1;
}
.addForm {
  &__wrapper {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}