@import '../../constants/_vars.scss';

.home {
  &__last-recipes {
    background: $backgroundDefault;
    box-shadow: $boxShadovDefault;
    border-radius: $borderRadiusDefault;
    min-height: 320px;
    margin: 0px, auto;
    h2 {
      font-size: 20px;
      font-weight: normal;
      line-height: 23px;
      color: #644838;
      text-align: center;
      padding-top: 25px;
    }
  }
}

.last-recipes__container {
  padding: 16px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  // padding-left: calc(50% - 570px);
  // padding-right: calc(50% - 570px);
  margin: 0 auto;
  width: 60%;
}
