.menu {
  margin: 0;
  margin-top: -16px;
  height: 32px;
  background: #d56600;
  ul {
    padding-top: 6px;
    display: flex;
    justify-content: space-evenly;  
  }
  li {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    display: inline;
    padding-right: 20px;
  }
}