@import '../../constants/_vars.scss';

.step {
  margin: 5px;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;

  &_img {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  &_title {
    margin: 0;
  }
}
.step:not(:last-child) {
  border-bottom: 1px solid black;
}