@import '../../constants/_vars.scss';

.step {
  margin: 5px;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;

  &:hover {
    background-color: $backgroundDefault;
  }
  &_img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  &_title {
    margin: 0;
  }
}
.step:not(:last-child) {
  border-bottom: 1px solid black;
}