@import '../../../constants/vars.scss';

.drawer {
  min-height: 100%;
  box-sizing: border-box;
  padding: 16px;
  background-color: $paper !important;
  color: $primary !important;
  display: grid;
  align-items: flex-start;
  grid-gap: 16px;
  align-content: start;

  &__header {
    width: 100%;
    text-align: center;
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    padding: 4px 16px;
  }

  &__label {
    color: $label;
    width: 100%;
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 4px;
  }

  &__checkbox {
    padding-left: 16px;
  }

  &__radio {
    padding-left: 16px !important;
  }

  &__select {
    width: 100%;
    height: 40px;
    background-color: #fff;
  }
}

.main {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 16px;
}
