.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAA31A;
    height: 84px;
    padding-left: 16px;
    padding-right: 16px;
}
.searchInput {
    padding: 8px 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    color: #444444;
}