.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #eaa31a;
  min-height: 84px;
  padding: 0 20px;
  .header__logo {
    display: flex;
    &_img {
      width: 65px;
    }
    &_name {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;
      color: #000000;
      margin: 0;
    }
  }
  
}

