@import "../../constants/_vars.scss";

$height: 320px;
$widhtLeft: 400px;

.recipe-block {
  background: $backgroundDefault;
  box-shadow: $boxShadovDefault;
  border-radius: $borderRadiusDefault;
  color: $textColor;
  min-height: $height;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  &__left {
    border-top-left-radius: $borderRadiusDefault;
    border-bottom-left-radius: $borderRadiusDefault;
    height: $height;
    max-width: $widhtLeft;
    width: 100%;
    display: flex;
    position: relative;
    background: $backgroundImgDefault;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      margin: auto  ;
    }
  }
  &__left:hover &__meta {
    background: linear-gradient(0deg, black, rgba(59, 59, 59, 0.1));
  }
  &__meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(0deg, black, rgba(59, 59, 59, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9em;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
    div {
      display: flex;
      align-items: center;
      span {
        margin-left: 5px;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - $widhtLeft);
    min-width: 320px;
    padding: $paddingDefault;
    box-sizing: border-box;
    &_added {
      display: flex;
      width: 100%;
      margin-top: auto;
      justify-content: space-between;
      &-author {
        display: flex;
        align-items: center;
        margin-top: 10px;
        span {
          font-size: 14px;
          padding-left: 10px;
          color: $primary;
        }
      }
    }
  }

  &__description {
    border-top: 1px solid black;
    min-height: 70px;
    padding-top: 5px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    ul {
      margin: 0;
      padding-left: 20px;
      max-height: 130px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      li {
        list-style-type: circle;
      }
    }
    img {
      max-width: 100%;
    }
  }
}

.info-container {
  &_ingredients {
    margin: 10px 0;
    font-weight: normal;
  }
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 20px;
    line-height: 28px;
    padding-right: 10px;
    font-weight: bold;
  }
}
